.App {
  height: 100%;
  width: 100%;
  position: absolute;
}

.NewPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-basis: 500px;

}

div.sidebar-item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.display {
  flex-grow: 1;
}

.map-container {
  height: 100%;
  width: 100%;
}